<Context>
  <Environment name="solr/home" type="java.lang.String" value="<%= @solr_home %>" override="true"/>
  <Loader className="org.apache.catalina.loader.VirtualWebappLoader" virtualClasspath="<%= @solr_home %>/lib/*.jar" searchVirtualFirst="true"/>
</Context>
